<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--header starts.
    it contains profile picture and link to other pages-->
    <div class="header">
        <img src="images/boring_Headshot.jpg" class="user_avatar" alt="Tayo">
        <a href="about_me.html">   
            </a><span class="material-icons">
                home
            </span><br>
        
        </a>

        <a href="contact.html">
            <span class="material-icons">
                contact_support
                </span>
        </a>
        <a href="register.html">
            <span class="material-icons">
                app_registration
             </span>
        </a>
        <a href="login.html">
            <span class="material-icons">
                login
                </span>
        </a>

    </div>
    <!--header ends-->
    <!--body begins-->
    <div class="body">
        <!--fine picture on a side of the page-->
        <div class="page_picture">
            <img src="images/portrait.jpeg" alt="omotayo" id="pPicture">
        </div>
        <div class="body_of_text">
            <h1> Hi, I'm Omotayo Ogunsote</h1>
            <h2> A goal driven young man who is passionate about his interests</h2>
            <h3 class="heading"> Goals for Diploma course </h3>
            <p>
                <ul> Begin my journey to being a world class developer</ul>
                <ul> Land an entry level job in the tech industry at the end of the course</ul>
                <ul> be financially independent</ul>
            </p>
            <h3 class="heading"> Education </h3>
            <table class="table">
                <tr>
                    <th> Institution</th>
                    <th> Qualification</th>
                    <th> Year</th>
                </tr>
                <tr class="">
                    <td> Obefemi Awolowo University, Ile-Ife</td>
                    <td> B.Sc Botany</td>
                    <td> 2019</td>
                </tr>
                <tr>
                    <td>Wesley College of Science, Elekuro, Ibadan</td>
                    <td> WAEC, NECO</td>
                    <td> 2013</td>
                </tr>
                <tr>
                    <td> Success Kiddies Nursery and Primary School</td>
                    <td> First School Leaving Certificate</td>
                    <td> 2007</td>
                </tr>
            </table>
            <h3 class="heading"> Work Experience </h3>
            <h4> YemKem International</h4><br>
            <p>sales and consultant</p>
            <h3 class="heading">Hobbies</h3>
            <ul>learning</ul>
            <ul>Reading</ul>
            <ul>Movies</ul>
            <ul>Tinkering</ul>


        </div>
    </div>
    
</body>
</html>