<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--header starts.
    it contains profile picture and link to other pages-->
    <div class="header">
        <img src="images/boring_Headshot.jpg" class="user_avatar" alt="Tayo">
        <a href="about_me.html">   
            </a><span class="material-icons">
                home
            </span>
        </a>

        <a href="contact.html">
            <span class="material-icons">
                contact_support
                </span>
        </a>
        <a href="register.html">
            <span class="material-icons">
                app_registration
             </span>
        </a>
        <a href="login.html">
            <span class="material-icons">
                login
                </span>
        </a>

    </div>
    <!--header ends-->
    <!--main body begins-->
    <div class="body">
        <form>
            <b class="heading">First Name</b> <br>
            <input type="text" placeholder="your first name e.g omotayo" class="input_boxes">
        </form><br>
        <form>
            <b class="heading">Last Name / surname</b> <br>
            <input type="text" placeholder="your surname e.g ogunsote" class="input_boxes">
        </form><br>
        <form>
            <b class="heading">Message</b> <br>
            <textarea rows="10" placeholder="whatsup?" class="input_boxes"></textarea>
        </form><br>
        <input type="submit">
        <label>Message</label><br>
        <select class="input_boxes">
            <option>High</option>
            <option>Intermediate</option>
            <option>Low</option>
        </select><br>
        <input type="submit" class="input_boxes">
    
    </div>
</body>
</html>